<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">   
</head>
<body>
  <div class="container-about">
    <div class="container">
      <header class='wrapper-header'>
        <a class="logo-frida" href="/">Frida Kahlo</a>
        <div>
          <ul class="nav">
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Gallery</a></li>
          </ul>
        </div>
      </header>
      <div>
        <h1>About Frida Kahlo</h1>
        <div>
          <h2>Who was Frida?</h2>
          <p>
            Artist Frida Kahlo was considered one of Mexico's greatest artists who began painting mostly self-portraits after she was severely injured in a bus accident. Kahlo later became politically active and married fellow communist artist Diego Rivera in 1929. She exhibited her paintings in Paris and Mexico before her death in 1954.        
          </p>
         
          <h2>Family, Education and Early Life</h2>
          <p>
            Kahlo was born Magdalena Carmen Frieda Kahlo y Calderón on July 6, 1907, in Coyoacán, Mexico City, Mexico.
          </p>
          <p>
            Kahlo's father, Wilhelm (also called Guillermo), was a German photographer who had immigrated to Mexico where he met and married her mother Matilde. She had two older sisters, Matilde and Adriana, and her younger sister, Cristina, was born the year after Kahlo.
          </p>
          Around the age of six, Kahlo contracted polio, which caused her to be bedridden for nine months. While she recovered from the illness, she limped when she walked because the disease had damaged her right leg and foot. Her father encouraged her to play soccer, go swimming, and even wrestle — highly unusual moves for a girl at the time — to help aid in her recovery.
          <p>
  
          </p>
        </div>
      </div>
  
    </div>  
    <footer><p>Credits to https://www.fridakahlo.org/</p></footer>
  
  </div>
</body>
</html>