<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">   
</head>
<body>
    <header class='wrapper-header'>
        <a class="logo-frida" href="/">Frida Kahlo</a>
        <div>
          <ul class="nav">
              <li><a href="/about">About</a></li>
              <li><a href="/works">Works</a></li>
              <li><a href="/gallery">Gallery</a></li>
            </ul>
        </div>
      </header>
    <div class="not-found">
        <h1>Sorry, this page it's not available!</h1>
    </div>
</body>
</html>