<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">   
</head>
<body>
  <div class="container">
    <header class='wrapper-header'>
      <a class="logo-frida" href="/">Frida Kahlo</a>
      <div>
        <ul class="nav">
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Gallery</a></li>
          </ul>
      </div>
    </header>
    <div class="wrapper-works">
      <h1>Best paintings</h1>
      <div class="wrapper-work-img">
        <div class="work">
          <h2>The Two Fridas, 1939 by Frida Kahlo</h2>
          <div>
            <img src="/images/the-two-fridas.jpeg" alt="">
          </div>
        </div>
        <div class="work">
          <h2>	Self-Portrait with Thorn Necklace and Hummingbird - by Frida Kahlo</h2>
          <div>
            <img src="/images/self-portrait-with-necklace.jpeg" alt="">
          </div>
        </div>
        <div class="work">
          <h2>Me and My Parrot, 1941 by Frida Kahlo</h2>
          <div>
           <img src="/images/me-and-my-parrots.jpeg" alt="">
          </div>
        </div>
        <div class="work">
          <h2>Self portrait dedicated to dr eloesser - by Frida Kahlo</h2>
          <div>
            <img src="/images/self-portrait-dedicated.jpeg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer><p>Credits to https://www.fridakahlo.org/</p></footer>
    
</body>
</html>